@use "@/global-style/variables.scss" as *;
@use "@/global-style/shared-styles.scss" as *;

.about-us-block {
  margin-top: 100px;
  @include max-breakpoint("md") {
    margin-top: 80px;
  }
  @include between-breakpoints("xs", "s") {
    margin-top: 40px;
  }
}

.about-us-block__heading {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  @include max-breakpoint("md") {
    width: calc(100% - 200px);
  }
  @include max-breakpoint("sm") {
    width: calc(100% - 100px);
  }
  @include between-breakpoints("xs", "s") {
    width: 100%;
  }
}
.about-us-block___title {
  @extend %block-title;
  display: inline-flex;
  margin-bottom: 40px;
  @include max-breakpoint("sm") {
    margin-bottom: 20px;
  }
  @include between-breakpoints("xs", "s") {
    margin-left: 20px;
  }
}
.about-us-block__media-container {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 15px;
  position: relative;
  @include between-breakpoints("xs", "s") {
    border-radius: 0px;
  }
}
.about-us-block__video {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-block__yoe {
  width: 214px;
  height: 234px;
  border-radius: 15px;
  background: #1a1f28;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: absolute;
  bottom: 50px;
  left: -50px;
  @include max-breakpoint("md") {
    width: 176.504px;
    height: 193px;
    bottom: 40px;
    left: -40px;
  }
  @include max-breakpoint("sm") {
    display: none;
  }
}
.about-us-block__yoe-title {
  display: inline-flex;
  font-family: $font-roboto;
  font-size: 3.125rem;
  line-height: 21px;
  font-weight: 800;
  color: $neutral;
  span {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #40916c;
  }
  @include max-breakpoint("md") {
    font-size: 2.5rem;
    span {
      font-size: 1.75rem;
    }
  }
}
.about-us-block__yoe-text {
  font-family: $font-roboto;
  font-size: 1.375rem;
  width: 115px;
  text-align: center;
  color: $neutral;
  line-height: 24.2px;
  @include max-breakpoint("md") {
    font-size: 1.125rem;
    line-height: 19.8px;
  }
}

.about-us-block___body {
  width: 1200px;
  margin: 0px auto;
  @include max-breakpoint("md") {
    width: calc(100% - 200px);
  }
  @include max-breakpoint("sm") {
    width: calc(100% - 100px);
  }
  @include between-breakpoints("xs", "s") {
    width: calc(100% - 40px);
  }
}
.about-us-block___sub-title {
  margin-top: 30px;
  font-family: $font-roboto;
  font-size: 2.5rem;
  line-height: 44px;
  font-weight: 700;
  color: $primary;
  @include max-breakpoint("md") {
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 22px;
  }
}
.about-us-block___text {
  margin-top: 15px;
  font-family: $font-roboto;
  font-size: 1.5rem;
  line-height: 33.6px;
  font-weight: 400;
  color: $text;
  @include max-breakpoint("md") {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 22.4px;
  }
}
.about-us-block___product-list {
  width: 700px;
  margin-top: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  @include max-breakpoint("md") {
    margin-top: 15px;
  }
  @include between-breakpoints("xs", "s") {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.about-us-block___product {
  display: flex;
  gap: 15px;
  align-items: center;
  @include max-breakpoint("md") {
    gap: 10px;
  }
}
.about-us-block___product-icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  background: $primary;
  flex-shrink: 0;
  @include max-breakpoint("md") {
    width: 23.016px;
    height: 23.016px;
    svg {
      width: 8.33px;
      height: 7.65px;
    }
  }
}
.about-us-block___product-text {
  font-family: $font-roboto;
  font-size: 1rem;
  line-height: 19.2px;
  font-weight: 500;
  color: $text;
}

.about-us-block___button {
  margin-top: 40px;
  border: none;
  background: $primary;
  color: $neutral;
  padding: 20px 32px;
  border-radius: 10px;
  font-family: $font-roboto;
  font-size: 1rem;
  line-height: 19.2px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  a {
    height: 100%;
  }
  @include max-breakpoint("md") {
    margin-top: 20px;
  }
  @include between-breakpoints("xs", "s") {
    width: 100%;
  }
}
.about-us-block___button:hover {
  opacity: 0.9;
}
