@use "@/global-style/variables.scss" as *;
@use "@/global-style/shared-styles.scss" as *;

.about-us-page {
  width: 100%;
  padding-bottom: 100px;
  @include between-breakpoints("xs", "s") {
    padding-bottom: 40px;
  }
}
.about-us-page__image-container {
  position: relative;
  width: 100%;
  height: 460px;
  @include between-breakpoints("xs", "s") {
    height: 281px;
  }
}
.about-us-page__image {
  object-fit: cover;
}
.about-us-page__inner-wrapper {
  width: 1200px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  @include max-breakpoint("md") {
    margin-top: 80px;
    width: calc(100% - 200px);
  }
  @include max-breakpoint("sm") {
    width: calc(100% - 100px);
  }
  @include between-breakpoints("xs", "s") {
    width: calc(100% - 40px);
    margin-top: 40px;
  }
}
.about-us-page__details-wrapper {
  margin-bottom: 100px;
  @include max-breakpoint("md") {
    margin-bottom: 80px;
  }
  @include between-breakpoints("xs", "s") {
    margin-bottom: 40px;
  }
}
.about-us-page__title {
  @extend %block-title;
  display: inline-flex;
}
.about-us-page__sub-title {
  font-family: $font-roboto;
  font-size: 2.5rem;
  line-height: 44px;
  color: $primary;
  font-weight: 600;
  margin-top: 30px;
  @include max-breakpoint("md") {
    font-size: 1.875rem;
    line-height: 33px;
    margin-top: 20px;
  }
  @include between-breakpoints("xs", "s") {
    font-size: 1.375rem;
    line-height: 24.2px;
    margin-top: 15px;
  }
}
.about-us-page__text {
  font-family: $font-roboto;
  font-size: 1.5rem;
  line-height: 33.6px;
  font-weight: 400;
  color: $text;
  margin-top: 30px;
  @include max-breakpoint("md") {
    font-size: 1.25rem;
    line-height: 28px;
    margin-top: 20px;
  }
  @include between-breakpoints("xs", "s") {
    font-size: 1.125rem;
    line-height: 25.2px;
    margin-top: 15px;
  }
}
.about-us-page__certificates-wrapper {
  margin-top: 100px;
  @include max-breakpoint("md") {
    margin-top: 80px;
  }
  @include between-breakpoints("xs", "s") {
    margin-top: 40px;
  }
}
