@use "@/global-style/variables.scss" as *;

.header {
  background: $neutral;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-right: 120px;
  @include max-breakpoint("md") {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include max-breakpoint("912px") {
    padding-left: 50px;
    padding-right: 50px;
    height: 80px;
  }
  @include between-breakpoints("xs", "sm") {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.header__right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 100px;
  @include max-breakpoint("md") {
    gap: 30px;
    & .button-cta {
      &:lang("ru") {
        max-width: 150px;
        line-height: 16.1px;
        padding: 8px 16px;
        text-align: center;
      }
    }
  }
  @include max-breakpoint("912px") {
    .nav {
      display: none;
    }
  }
  @include between-breakpoints("xs", "s") {
    & .button-cta {
      &:lang("ru") {
        max-width: 130px;
        line-height: 16.1px;
        padding: 8px 0px;
      }
    }
  }
}
