@use "@/global-style/variables.scss" as *;

%text-styles {
  font-family: $font-roboto;
  font-size: 1rem;
  line-height: 19.2px;
  color: $neutral;
  font-weight: 300;
  @include between-breakpoints("xs", "s") {
    font-size: 0.875rem;
    line-height: 16.8px;
  }
}
.footer {
  width: 100%;
  background: $background-muted;
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include max-breakpoint("md") {
    padding-top: 40px;
  }
}
.footer__inner-wrapper {
  width: 1200px;
  margin: 0px auto;
  display: flex;
  @include max-breakpoint("md") {
    width: calc(100% - 200px);
  }
  @include max-breakpoint("sm") {
    width: calc(100% - 100px);
  }
  @include max-breakpoint("853px") {
    flex-direction: column;
    gap: 30px;
  }
  @include between-breakpoints("xs", "s") {
    width: calc(100% - 40px);
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  & .logo__title {
    color: $neutral;
  }
  @include max-breakpoint("md") {
    gap: 20px;
  }
}
.footer__right {
  margin-left: auto;
  display: flex;
  gap: 200px;
  @include max-breakpoint("md") {
    gap: 50px;
  }
  @include max-breakpoint("853px") {
    margin: 0px;
    gap: 0px;
    justify-content: space-between;
  }
}
.footer__company-intro {
  font-family: $font-roboto;
  font-size: 1.125rem;
  line-height: 25.2px;
  color: $neutral;
  font-weight: 600;
  width: 480px;
  @include max-breakpoint("md") {
    font-size: 0.9375rem;
    line-height: 18px;
    width: 357px;
  }
  @include max-breakpoint("853px") {
    width: 100%;
  }
}
.footer__link-wrapper {
}
.footer__link-title,
.footer__contact-title {
  font-family: $font-roboto;
  font-size: 1.375rem;
  line-height: 24.2px;
  color: $neutral;
  font-weight: 500;
  @include between-breakpoints("xs", "s") {
    max-width: 110px;
  }
}
.footer__link-list {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include max-breakpoint("md") {
    margin-top: 20px;
  }
}
.footer__link {
  @extend %text-styles;
  transition: color 0.2s ease-in;
}
.footer__link:hover {
  color: $primary;
}
.footer__contact-wrapper {
}
.footer__contact-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @include max-breakpoint("md") {
    margin-top: 20px;
    gap: 20px;
  }
  @include between-breakpoints("xs", "s") {
    gap: 10px;
  }
}
.footer__contact-item {
  display: flex;
  gap: 10px;
}
.footer__contact-icon-container {
  width: 43px;
  height: 43px;
  border-radius: 43px;
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 19px;
    height: 19px;
  }
}
.footer__contact-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__contact-link-title {
  font-family: $font-roboto;
  font-size: 1.125rem;
  line-height: 21.6px;
  color: $neutral;
  font-weight: 500;
  @include between-breakpoints("xs", "s") {
    font-size: 1rem;
    line-height: 19.2px;
  }
}
.footer__contact-link {
  @extend %text-styles;
  width: 170px;
  @include between-breakpoints("xs", "s") {
    width: 150px;
  }
}
.footer__divider {
  margin-top: 150px;
  background: $neutral;
  height: 1px;
  width: 70%;
  @include max-breakpoint("md") {
    margin-top: 60px;
  }
  @include between-breakpoints("xs", "s") {
    margin-top: 40px;
    width: 90%;
  }
}
.footer__right-reserve {
  margin-top: 15px;
  font-family: $font-roboto;
  font-size: 1.125rem;
  color: $neutral;
  line-height: 21.6px;
  text-align: center;
}
